<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.AUTHENTICATION_REQUIRED" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/marker"
        android:label="@string/app_name"
        android:roundIcon="@drawable/marker"
        android:supportsRtl="true"
        android:theme="@style/Theme.CGT_Assignment_TSP"
        tools:targetApi="31">
        <activity
            android:name=".SolutionViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GraphActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SolutionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcKA6V9_82mixD7eS2oTSZ5mF5teH_STw" />

        <activity
            android:name=".SelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>